@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  stroke: #8e8883;
}

.mark {
  fill: #137b80;
}

.axis-label {
  font-size: 1rem;
}

text {
  font-size: 0.6rem;
  fill: #635f5d;
}

.marks circle {
  fill: #137b80;
}

.marks path {
  stroke: #137b80;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.world-marks .land {
  fill: #1f9ba1;
}

.world-marks .interiors {
  fill: none;
  stroke: #ffffff31;
}

.world-marks .sphere {
  fill: #f5f5f5;
}

.world-marks .graticules {
  fill: none;
  stroke: #dadada;
}
